*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App{
    min-height: 100vh;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.header{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: rgb(201, 219, 208);
}

.search-form{
    min-height:10vh;
    display: flex;
    align-items:center;
}

.search-bar{
    width: 50%;
    border:none;
    padding: 10px 20px;
}

.search-button{
background: lightgreen;
border: none;
padding: 10px 20px;
color:white;
}

.card{
   
   background: whitesmoke;
   align-items: center;
   margin:20px;
   box-shadow: 0px 5px 20px rgb(71,71,71);
   border-radius: 10px;
}

.recipes{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;  
    min-width: 40px; 
}

.card-image{
    border-radius: 80px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color:#fff;
}

.logo{
    font-size: 32px;
}

.menu{
   display: flex;
   gap: 1em;
   font-size: 18px; 
}

.menu li:hover{
background-color: #4c9e9e;
border-radius: 5px;
transition: 0.3s ease;
}

.menu li{
    padding: 5px 14px;
    color: white;
    font-size: 20px;
}

.menu ul{
    display: flex;
}

a{
    text-decoration: none;
    color: white;;
}

li{
    list-style: none;
}
